@page "/"

<!--<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
-->

<h1 class="page-title">Welcome to Brthany's Pie shop HRM!</h1>
<br/>
<h3>Using this application, you can manage wonderful staff working for us all over the world.</h3>